<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">

<Worksheet ss:Name="Sheet1">
  <Table>
    <Row>
      <Cell><Data ss:Type="String">ID</Data></Cell>
      <Cell><Data ss:Type="String">IMEI</Data></Cell>
      <Cell><Data ss:Type="String">Packege</Data></Cell>
    </Row>
    <% @devices.each do |device| %>
    <Row>
      <Cell><Data ss:Type="Number"><%= device.id %></Data></Cell>
      <Cell><Data ss:Type="String"><%= device.imei %></Data></Cell>
      <Cell><Data ss:Type="String"><%= device.packege %></Data></Cell>
    </Row>
    <% end %>
  </Table>
</Worksheet>
</Workbook>